@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.body {
 
  font-family: sans-serif;
  height: 150vh;
  background-color: black;
  font-family: Montserrat;
}

  